<!--
  Generated template for the CasaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Casa</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let casa of casas">
        <ion-card>
          <img *ngIf = "casa.hasOwnProperty('pictures')"
          src="{{casa.pictures[0].url}}"> 
          <!-- en pictures, url -->
          <h2 *ngIf="casa.hasOwnProperty('price')">
            {{casa.amount}}
          </h2>
          <!-- en price, amount -->
          <h2 *ngIf ="casa.hasOwnProperty('geo')">
            {{casa.name}}
          </h2>
          <!-- en geo, name -->
        </ion-card>
      
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
